@model CategoryViewModel

@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xl-6 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">KATEGORİ YÖNETİMİ</h4>
        </div>
        <div class="card-body">
            <div class="basic-form">
                <form asp-controller="Kategori" asp-action="Ekle" method="post">
                    <div asp-validation-summary="All" class="text-danger"> </div>
                     <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Kategori Adı</label>
                            <input type="text" name="CategoryName" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Ana Kategori</label>
                            <div class="dropdown bootstrap-select form-control">
                                <select id="inputState" class="form-control" name="MainCategoryID" tabindex="-98">

                                    @foreach (MainCategory mainCategory in Model.MainCategories)
                                    {
                                        if (mainCategory.MainCategoryID == Model.Category.MainCategoryID)
                                        {
                                            <option selected value="@mainCategory.MainCategoryID">@mainCategory.MainCategoryName</option>
                                        }
                                        else
                                        {
                                            <option value="@mainCategory.MainCategoryID">@mainCategory.MainCategoryName</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">EKLE</button>
                    <a style="float:right" class="btn" asp-action="Listele">Geri Dön</a>
                </form>
            </div>
        </div>
    </div>
</div>