@{
    Layout = "_LayoutClient";
}


	<div class="holder mt-0 py-3 py-sm-5 py-md-10 bg-cover lazyload" data-bgset="images/pages/about-bg.jpg">
	<div class="container">
		<div class="row">
			<div class="col-11 col-md-9 col-xl-9">
				<div class="page-title-bg py-md-3 py-xl-6">
					<h1>HAKKIMIZDA</h1>
					<p class="d-none d-md-block">Türkiye'nin en büyük butiği giysininiyisi.com, uzun yıllardır hizmet verdiği perakende sektöründe olduğu gibi internette de en iyi hizmeti vermektedir. Giysininiyisi olarak giysininiyisi.com ve Giysininiyisi perakende mağazaları ile yoluna devam ettiği sektörde her zaman %100 müşteri memnuniyetini başarının temeli olarak kabul etmektedir. Sosyal medyada bulunan 1 milyondan fazla takipçimizin sevgisini kazandığımız gibi, her gün yenilenen sezonun en trend seçenekleriyle e-ticarette duruşumuzu değiştirmiyoruz.</p>
					<p>Kurulduğu günden bu zamana kadar olan tüm süreçte "Mutlu Müşteri" ilkesiyle hareket eden Giysininiyisi, e-ticarette de bu ilkesiyle yoluna devam ediyor. Giysininiyisi.com, butik kavramını ve hızlı değişen moda akımını yenilikçi fikirleri ile birleştirip, müşterilerine maksimum memnuniyet, en iyi kalite ve en uygun fiyat politikasıyla sunan ilk marka olmuştur.</p>
					<p>Giysininiyisi.com'da satılan tüm ürünler yerli üretimdir. Tüm ürünlerimiz üretim aşamasından, seçim aşamasına ve siparişinizin paketleme aşamasına kadar kalite kontrol testlerinden geçmektedir.</p>
					<p>Giysininiyisi.com, veri iletiminde 128 bit şifreleme ile iletilen bilgilerin güvenliğini sağlayan SSL sertifikası kullanmaktadır. Giysininiyisi.com'da kredi kartı bilgileriniz yalnızca sipariş işlemi gerçekleştirilirken kullanılır ve veri tabanında kayıtlı olarak tutulmaz. Sitemizde gerçekleşecek tüm alışveriş işlemleri 3Dsecure özelliği zorunlu halde gerçekleşmektedir. Yapacağınız tüm alışverişler güvenlidir.</p>
					<br /><img src="~/adminnn/images/logo-long.png" />
				</div>
			</div>
		</div>
	</div>
</div>